html {
    background-color:darkred;
    box-sizing: border-box;
}

body {
    width: 80%;
    padding: 2em;
    margin: 2em auto;
    background-color:antiquewhite;
    border-radius: 1em;
    box-shadow: 5px 8px 5px rgba(0,0,0,0.2);
    font-family: Arial, Helvetica, sans-serif;
}

code {
    font-size: 110%;
}